<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>外卖订单管理系统</display-name>

    <welcome-file-list>
        <welcome-file>order.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MenuListServlet</servlet-name>
        <servlet-class>cs.sbs.web.servlet.MenuListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuListServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderCreateServlet</servlet-name>
        <servlet-class>cs.sbs.web.servlet.OrderCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderCreateServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>cs.sbs.web.servlet.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>

</web-app>
